*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  /* background-color: #be4040; */
}

#map {
  height: calc(100% - 38px);
  width: 100%;
}

.navbar {
  height: 38px;
  background-color: #29283b;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
}

.logo {
  height: 1.6rem;
  margin-right: 12px;
}
